# Local environment (do not version secrets)
/.env
/.env.local
/.env.*.local
/.env.dev

# Dependencies
/vendor/

# Symfony
/var/
/.phpunit.cache/
/public/bundles/

# Demo MySQL data
/.data/

# Archives / compressed
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
